/**
 * Badge Style
 */
@import '../../../stylesheet/variables/index.scss';

:global(.at-badge) {
  position: relative;
  display: inline-block;
  // vertical-align: middle;
}

:global(.at-badge__content) {
  display: inline-block;
  height: $badge-height;
  padding: $badge-padding;
  color: $badge-font-color;
  font-size: $badge-font-size;
  text-align: center;
  line-height: $badge-height - 2;
  white-space: nowrap;
  border: 1px solid $color-white;
  border-radius: $badge-border-radius;
  background-color: $badge-bg-color;
}

/* modifier */
:global(.at-badge--alone) {
  :global(.at-badge__content) {
    top: 0;
  }
}

:global(.at-badge--corner) {
  position: absolute;
  top: (-$badge-height / 2) + 1;
  right: 0;
  transform: translateX(50%);
}

:global(.at-badge--dot) {
  padding: 0;
  width: $badge-dot-size;
  height: $badge-dot-size;
  top: (-$badge-dot-size / 2) + 1;
}

:global(.at-badge--success) {
  :global(.at-badge__content) {
    background-color: $badge-bg-color-success;
  }
}

:global(.at-badge--warning) {
  :global(.at-badge__content) {
    background-color: $badge-bg-color-warning;
  }
}

:global(.at-badge--info) {
  :global(.at-badge__content) {
    background-color: $badge-bg-color-info;
  }
}
