/**
 * Timeline
 */
@import '../../../stylesheet/variables/index.scss';

:global {
  .at-timeline {
    /* modifier */
    &--pending {
      .at-timeline__item--pending {
        .at-timeline__tail {
          display: none;
        }
      }

      .at-timeline__item--last {
        .at-timeline__tail {
          display: inline-block;
          border-left-style: dotted;
        }
      }
    }
  }
}

